<%- include('layouts/boilerplate') %>

<div class="container text-center mt-5">
    <h1 class="text-danger">Oops! Something went wrong</h1>
    <p class="lead">We're sorry, but there was an error processing your request.</p>
    <% if (typeof error !== 'undefined' && error.message) { %>
        <p class="text-muted"><%= error.message %></p>
    <% } %>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div> 