<div class="container mt-5 text-center">
    <div class="card">
        <div class="card-body">
            <h1 class="text-success mb-4">Booking Confirmed!</h1>
            <p class="lead"><%= message %></p>
            <a href="/" class="btn btn-primary mt-3">Return to Home</a>
        </div>
    </div>
</div> 